src/Coalesce.Services/API/src/main/resources/CrudService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- ** * SECURITY CLASSIFICATION: UNCLASSIFIED * Copyright 2014 - Lockheed 
	Martin Corporation, All Rights Reserved * * Notwithstanding any contractor 
	copyright notice, the government has * Unlimited Rights in this work as defined 
	by DFARS 252.227-7013 and * 252.227-7014. Use of this work other than as 
	specifically authorized by * these DFARS Clauses may violate government rights 
	in this work. * * DFARS Clause reference: 252.227-7013 (a)(16) and 252.227-7014 
	(a)(16) * Unlimited Rights. The Government has the right to use, modify, 
	* reproduce, perform, display, release or disclose this computer software 
	* in whole or in part, in any manner, and for any purpose whatsoever, * and 
	to have or authorize others to do so. * * Distribution Statement D. Distribution 
	authorized to the Department of * Defense and U.S. DoD contractors only in 
	support of US DoD efforts. * Other requests shall be referred to the ACINT 
	Modernization Program * Management under the Director of the Office of Naval 
	Intelligence. * * UNCLASSIFIED * -->

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://api.services.coalesce.incadencecorp.com/crud"
	xmlns:cmn="http://api.services.coalesce.incadencecorp.com/common" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" 
	xmlns:wsaw="http://www.w3.org/2005/08/addressing"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" name="CrudService"
	targetNamespace="http://api.services.coalesce.incadencecorp.com/crud">
	<wsdl:types>
		<xsd:schema targetNamespace="http://api.services.coalesce.incadencecorp.com/crud"
			xmlns:tns="http://api.services.coalesce.incadencecorp.com/crud"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			attributeFormDefault="qualified">
			<xsd:include schemaLocation="CrudSchema.xsd" />
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://api.services.coalesce.incadencecorp.com/common"
				schemaLocation="Common.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- GetJobStatus -->
	<wsdl:message name="JobStatusRequest">
		<wsdl:part name="request" element="cmn:JobStatusRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="JobStatusResponse">
		<wsdl:part name="response" element="cmn:JobStatusResponse"></wsdl:part>
	</wsdl:message>

	<!-- PickupJob -->
	<wsdl:message name="PickupJobRequest">
		<wsdl:part name="request" element="cmn:PickupJobRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PickupJobResponse">
		<wsdl:part name="response" element="cmn:PickupJobResponse"></wsdl:part>
	</wsdl:message>

	<!-- CancelJob -->
	<wsdl:message name="CancelJobRequest">
		<wsdl:part name="request" element="cmn:CancelJobRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelJobResponse">
		<wsdl:part name="response" element="cmn:CancelJobResponse"></wsdl:part>
	</wsdl:message>

	<!-- Create Data Object -->
	<wsdl:message name="CreateDataObjectRequest">
		<wsdl:part name="request" element="tns:CreateDataObjectRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateDataObjectResponse">
		<wsdl:part name="response" element="tns:CreateDataObjectResponse"></wsdl:part>
	</wsdl:message>

	<!-- Update Data Object -->
	<wsdl:message name="UpdateDataObjectRequest">
		<wsdl:part name="request" element="tns:UpdateDataObjectRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdateDataObjectResponse">
		<wsdl:part name="response" element="tns:UpdateDataObjectResponse"></wsdl:part>
	</wsdl:message>
	
	<!-- Unmark Data Object For Deletion -->
    <wsdl:message name="UnmarkedForDeletionRequest">
        <wsdl:part name="request" element="tns:UnmarkedForDeletionRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnmarkedForDeletionResponse">
        <wsdl:part name="response" element="tns:UnmarkedForDeletionResponse"></wsdl:part>
    </wsdl:message>

	<!-- Link Data Object -->
	<wsdl:message name="LinkDataObjectRequest">
		<wsdl:part name="request" element="tns:LinkDataObjectRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LinkDataObjectResponse">
		<wsdl:part name="response" element="tns:LinkDataObjectResponse"></wsdl:part>
	</wsdl:message>

	<!-- Update Data Object -->
	<wsdl:message name="UpdateDataObjectStatusRequest">
		<wsdl:part name="request" element="tns:UpdateDataObjectStatusRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdateDataObjectStatusResponse">
		<wsdl:part name="response" element="tns:UpdateDataObjectStatusResponse"></wsdl:part>
	</wsdl:message>

	<!-- Retrieve Data Object -->
	<wsdl:message name="RetrieveDataObjectRequest">
		<wsdl:part name="request" element="tns:RetrieveDataObjectRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RetrieveDataObjectResponse">
		<wsdl:part name="response" element="tns:RetrieveDataObjectResponse"></wsdl:part>
	</wsdl:message>

	<!-- Promote Data Object -->
	<wsdl:message name="PromoteDataObjectVersionRequest">
		<wsdl:part name="request" element="tns:PromoteDataObjectVersionRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PromoteDataObjectVersionResponse">
		<wsdl:part name="response" element="tns:PromoteDataObjectVersionResponse"></wsdl:part>
	</wsdl:message>
	
	<!-- Promote XML Data Object -->
    <wsdl:message name="PromoteXmlDataObjectVersionRequest">
        <wsdl:part name="request" element="tns:PromoteXmlDataObjectVersionRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="PromoteXmlDataObjectVersionResponse">
        <wsdl:part name="response" element="tns:PromoteXmlDataObjectVersionResponse"></wsdl:part>
    </wsdl:message>

	<!-- Add Workflow Pedigree Event -->
	<wsdl:message name="CreatePedigreeEventRequest">
		<wsdl:part name="request" element="tns:CreatePedigreeEventRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreatePedigreeEventResponse">
		<wsdl:part name="response" element="tns:CreatePedigreeEventResponse"></wsdl:part>
	</wsdl:message>

	<!-- Add Non-Workflow Pedigree Event -->
	<wsdl:message name="UpdatePedigreeEventRequest">
		<wsdl:part name="request" element="tns:UpdatePedigreeEventRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdatePedigreeEventResponse">
		<wsdl:part name="response" element="tns:UpdatePedigreeEventResponse"></wsdl:part>	</wsdl:message>

	<!-- Register Template -->
	<wsdl:message name="RegisterDataObjectTemplatesRequest">
		<wsdl:part name="request" element="tns:RegisterDataObjectTemplatesRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegisterDataObjectTemplatesResponse">
		<wsdl:part name="response" element="tns:RegisterDataObjectTemplatesResponse"></wsdl:part>
	</wsdl:message>

	<!-- Retrieve Template -->
	<wsdl:message name="RetrieveDataObjectTemplatesRequest">
		<wsdl:part name="request" element="tns:RetrieveDataObjectTemplatesRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RetrieveDataObjectTemplatesResponse">
		<wsdl:part name="response" element="tns:RetrieveDataObjectTemplatesResponse"></wsdl:part>
	</wsdl:message>

	<!-- Create Objects From Template -->
	<wsdl:message name="CreateDataObjectsByTemplateRequest">
		<wsdl:part name="request" element="tns:CreateDataObjectsByTemplateRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateDataObjectsByTemplateResponse">
		<wsdl:part name="response" element="tns:CreateDataObjectsByTemplateResponse"></wsdl:part>
	</wsdl:message>

	<!-- Retrieve Data Object History -->
	<wsdl:message name="RetrieveDataObjectHistoryRequest">
		<wsdl:part name="request" element="tns:RetrieveDataObjectHistoryRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RetrieveDataObjectHistoryResponse">
		<wsdl:part name="response" element="tns:RetrieveDataObjectHistoryResponse"></wsdl:part>
	</wsdl:message>

	<!-- Delete Data Object Version -->
	<wsdl:message name="DeleteDataObjectVersionRequest">
		<wsdl:part name="request" element="tns:DeleteDataObjectVersionRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteDataObjectVersionResponse">
		<wsdl:part name="response" element="tns:DeleteDataObjectVersionResponse"></wsdl:part>
	</wsdl:message>

	<!-- Restore Data Object Version -->
	<wsdl:message name="RestoreDataObjectVersionRequest">
		<wsdl:part name="request" element="tns:RestoreDataObjectVersionRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RestoreDataObjectVersionResponse">
		<wsdl:part name="response" element="tns:RestoreDataObjectVersionResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="CrudManager">
		<wsdl:operation name="GetJobStatus">
			<wsdl:input message="tns:JobStatusRequest"></wsdl:input>
			<wsdl:output message="tns:JobStatusResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="PickupJob">
			<wsdl:input message="tns:PickupJobRequest"></wsdl:input>
			<wsdl:output message="tns:PickupJobResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CancelJob">
			<wsdl:input message="tns:CancelJobRequest"></wsdl:input>
			<wsdl:output message="tns:CancelJobResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CreateDataObject">
			<wsdl:input message="tns:CreateDataObjectRequest"></wsdl:input>
			<wsdl:output message="tns:CreateDataObjectResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="UpdateDataObject">
			<wsdl:input message="tns:UpdateDataObjectRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateDataObjectResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="UnmarkedForDeletion">
            <wsdl:input message="tns:UnmarkedForDeletionRequest"></wsdl:input>
            <wsdl:output message="tns:UnmarkedForDeletionResponse"></wsdl:output>
        </wsdl:operation>

		<wsdl:operation name="LinkDataObject">
			<wsdl:input message="tns:LinkDataObjectRequest"></wsdl:input>
			<wsdl:output message="tns:LinkDataObjectResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="UpdateDataObjectStatus">
			<wsdl:input message="tns:UpdateDataObjectStatusRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateDataObjectStatusResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RetrieveDataObject">
			<wsdl:input message="tns:RetrieveDataObjectRequest"></wsdl:input>
			<wsdl:output message="tns:RetrieveDataObjectResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="PromoteDataObjectVersion">
			<wsdl:input message="tns:PromoteDataObjectVersionRequest"></wsdl:input>
			<wsdl:output message="tns:PromoteDataObjectVersionResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="PromoteXmlDataObjectVersion">
            <wsdl:input message="tns:PromoteXmlDataObjectVersionRequest"></wsdl:input>
            <wsdl:output message="tns:PromoteXmlDataObjectVersionResponse"></wsdl:output>
        </wsdl:operation>

		<wsdl:operation name="RetrieveDataObjectHistory">
			<wsdl:input message="tns:RetrieveDataObjectHistoryRequest"></wsdl:input>
			<wsdl:output message="tns:RetrieveDataObjectHistoryResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CreatePedigreeEvent">
			<wsdl:input message="tns:CreatePedigreeEventRequest"></wsdl:input>
			<wsdl:output message="tns:CreatePedigreeEventResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="UpdatePedigreeEvent">
			<wsdl:input message="tns:UpdatePedigreeEventRequest"></wsdl:input>
			<wsdl:output message="tns:UpdatePedigreeEventResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RegisterDataObjectTemplates">
			<wsdl:input message="tns:RegisterDataObjectTemplatesRequest"></wsdl:input>
			<wsdl:output message="tns:RegisterDataObjectTemplatesResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RetrieveDataObjectTemplates">
			<wsdl:input message="tns:RetrieveDataObjectTemplatesRequest"></wsdl:input>
			<wsdl:output message="tns:RetrieveDataObjectTemplatesResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="DeleteDataObjectVersion">
			<wsdl:input message="tns:DeleteDataObjectVersionRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteDataObjectVersionResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RestoreDataObjectVersion">
			<wsdl:input message="tns:RestoreDataObjectVersionRequest"></wsdl:input>
			<wsdl:output message="tns:RestoreDataObjectVersionResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="CrudServiceBinding" type="tns:CrudManager">

		<wsp:PolicyReference URI="#TransportSAML2Policy" />

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="GetJobStatus">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="PickupJob">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CancelJob">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CreateDataObject">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="UpdateDataObject">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="UnmarkedForDeletion">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

		<wsdl:operation name="LinkDataObject">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="UpdateDataObjectStatus">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RetrieveDataObject">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="PromoteDataObjectVersion">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="PromoteXmlDataObjectVersion">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

		<wsdl:operation name="DeleteDataObjectVersion">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RestoreDataObjectVersion">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RetrieveDataObjectHistory">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CreatePedigreeEvent">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="UpdatePedigreeEvent">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RegisterDataObjectTemplates">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RetrieveDataObjectTemplates">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<!-- <wsdl:operation name="CreateDataObjectsByTemplate"> -->
		<!-- <soap:operation soapAction="" /> -->
		<!-- <wsdl:input> -->
		<!-- <soap:body use="literal" /> -->
		<!-- </wsdl:input> -->
		<!-- <wsdl:output> -->
		<!-- <soap:body use="literal" /> -->
		<!-- </wsdl:output> -->
		<!-- </wsdl:operation> -->

	</wsdl:binding>

	<wsdl:service name="CrudManagerService">
		<wsdl:port binding="tns:CrudServiceBinding" name="CrudManagerPort">
			<soap:address location="https://localhost:9001/crud/" />
			<wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/02/addressing/wsdl"/>
		</wsdl:port>
	</wsdl:service>
	
	<wsp:Policy wsu:Id="TransportSAML2Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken>
									<wsp:Policy />
								</sp:HttpsToken>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:TripleDesRsa15 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:SignedSupportingTokens
					xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp:Policy>
						<sp:IssuedToken
							sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<sp:RequestSecurityTokenTemplate>
								<t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0
								</t:TokenType>
								<t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer
								</t:KeyType>
<!-- 								<t:claims Dialect="http://schemas.xmlsoap.org/ws/2005/05/identity" xmlns:ic="http://schemas.xmlsoap.org/ws/2005/05/identity"> -->
<!-- 									<ic:ClaimType Uri="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role" /> -->
<!-- 								</t:claims> -->
							</sp:RequestSecurityTokenTemplate>
							<wsp:Policy>
								<sp:RequireInternalReference />
							</wsp:Policy>
						</sp:IssuedToken>
					</wsp:Policy>
				</sp:SignedSupportingTokens>
				<sp:Wss11>
					<wsp:Policy>
						<sp:MustSupportRefIssuerSerial />
						<sp:MustSupportRefThumbprint />
						<sp:MustSupportRefEncryptedKey />
					</wsp:Policy>
				</sp:Wss11>
				<sp:Trust13>
					<wsp:Policy>
						<sp:MustSupportIssuedTokens />
						<sp:RequireClientEntropy />
						<sp:RequireServerEntropy />
					</wsp:Policy>
				</sp:Trust13>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	
</wsdl:definitions>
