src/Coalesce.Services/API/src/main/resources/TemplateService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright 2017 - InCadence Strategic Solutions Inc., All Rights Reserved 
	Notwithstanding any contractor copyright notice, the Government has Unlimited 
	Rights in this work as defined by DFARS 252.227-7013 and 252.227-7014. Use 
	of this work other than as specifically authorized by these DFARS Clauses 
	may violate Government rights in this work. DFARS Clause reference: 252.227-7013 
	(a)(16) and 252.227-7014 (a)(16) Unlimited Rights. The Government has the 
	right to use, modify, reproduce, perform, display, release or disclose this 
	computer software and to have or authorize others to do so. Distribution 
	Statement D. Distribution authorized to the Department of Defense and U.S. 
	DoD contractors only in support of U.S. DoD efforts. -->

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://api.services.coalesce.incadencecorp.com/template"
	xmlns:cmn="http://api.services.coalesce.incadencecorp.com/common"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsaw="http://www.w3.org/2005/08/addressing"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" name="TemplateService"
	targetNamespace="http://api.services.coalesce.incadencecorp.com/template">
	<wsdl:types>
		<xsd:schema targetNamespace="http://api.services.coalesce.incadencecorp.com/template"
			xmlns:tns="http://api.services.coalesce.incadencecorp.com/template"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			attributeFormDefault="qualified">
			<xsd:include schemaLocation="TemplateSchema.xsd" />
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://api.services.coalesce.incadencecorp.com/common"
				schemaLocation="Common.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- GetJobStatus -->
	<wsdl:message name="JobStatusRequest">
		<wsdl:part name="request" element="cmn:JobStatusRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="JobStatusResponse">
		<wsdl:part name="response" element="cmn:JobStatusResponse"></wsdl:part>
	</wsdl:message>

	<!-- PickupJob -->
	<wsdl:message name="PickupJobRequest">
		<wsdl:part name="request" element="cmn:PickupJobRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PickupJobResponse">
		<wsdl:part name="response" element="cmn:PickupJobResponse"></wsdl:part>
	</wsdl:message>

	<!-- CancelJob -->
	<wsdl:message name="CancelJobRequest">
		<wsdl:part name="request" element="cmn:CancelJobRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelJobResponse">
		<wsdl:part name="response" element="cmn:CancelJobResponse"></wsdl:part>
	</wsdl:message>

	<!-- Register Template -->
	<wsdl:message name="RegisterDataObjectTemplatesRequest">
		<wsdl:part name="request" element="tns:RegisterDataObjectTemplatesRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegisterDataObjectTemplatesResponse">
		<wsdl:part name="response" element="tns:RegisterDataObjectTemplatesResponse"></wsdl:part>
	</wsdl:message>

	<!-- Retrieve Template -->
	<wsdl:message name="RetrieveDataObjectTemplatesRequest">
		<wsdl:part name="request" element="tns:RetrieveDataObjectTemplatesRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RetrieveDataObjectTemplatesResponse">
		<wsdl:part name="response" element="tns:RetrieveDataObjectTemplatesResponse"></wsdl:part>
	</wsdl:message>

	<!-- Create Objects From Template -->
	<wsdl:message name="CreateDataObjectsByTemplateRequest">
		<wsdl:part name="request" element="tns:CreateDataObjectsByTemplateRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateDataObjectsByTemplateResponse">
		<wsdl:part name="response" element="tns:CreateDataObjectsByTemplateResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="TemplateManager">

		<wsdl:operation name="GetJobStatus">
			<wsdl:input message="tns:JobStatusRequest"></wsdl:input>
			<wsdl:output message="tns:JobStatusResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="PickupJobResults">
			<wsdl:input message="tns:PickupJobRequest"></wsdl:input>
			<wsdl:output message="tns:PickupJobResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CancelJob">
			<wsdl:input message="tns:CancelJobRequest"></wsdl:input>
			<wsdl:output message="tns:CancelJobResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RegisterDataObjectTemplates">
			<wsdl:input message="tns:RegisterDataObjectTemplatesRequest"></wsdl:input>
			<wsdl:output message="tns:RegisterDataObjectTemplatesResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RetrieveDataObjectTemplates">
			<wsdl:input message="tns:RetrieveDataObjectTemplatesRequest"></wsdl:input>
			<wsdl:output message="tns:RetrieveDataObjectTemplatesResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CreateDataObjectsByTemplate">
			<wsdl:input message="tns:CreateDataObjectsByTemplateRequest"></wsdl:input>
			<wsdl:output message="tns:CreateDataObjectsByTemplateResponse"></wsdl:output>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="TemplateServiceBinding" type="tns:TemplateManager">

		<wsp:PolicyReference URI="#TransportSAML2Policy" />

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="GetJobStatus">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="PickupJobResults">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CancelJob">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RegisterDataObjectTemplates">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RetrieveDataObjectTemplates">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CreateDataObjectsByTemplate">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="TemplateManagerService">
		<wsdl:port binding="tns:TemplateServiceBinding" name="TemplateManagerPort">
			<soap:address location="https://localhost:9001/template/" />
			<wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/02/addressing/wsdl" />
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy wsu:Id="TransportSAML2Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken>
									<wsp:Policy />
								</sp:HttpsToken>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:TripleDesRsa15 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:SignedSupportingTokens
					xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp:Policy>
						<sp:IssuedToken
							sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<sp:RequestSecurityTokenTemplate>
								<t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0
								</t:TokenType>
								<t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer
								</t:KeyType>
								<!-- <t:claims Dialect="http://schemas.xmlsoap.org/ws/2005/05/identity" 
									xmlns:ic="http://schemas.xmlsoap.org/ws/2005/05/identity"> -->
								<!-- <ic:ClaimType Uri="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role" 
									/> -->
								<!-- </t:claims> -->
							</sp:RequestSecurityTokenTemplate>
							<wsp:Policy>
								<sp:RequireInternalReference />
							</wsp:Policy>
						</sp:IssuedToken>
					</wsp:Policy>
				</sp:SignedSupportingTokens>
				<sp:Wss11>
					<wsp:Policy>
						<sp:MustSupportRefIssuerSerial />
						<sp:MustSupportRefThumbprint />
						<sp:MustSupportRefEncryptedKey />
					</wsp:Policy>
				</sp:Wss11>
				<sp:Trust13>
					<wsp:Policy>
						<sp:MustSupportIssuedTokens />
						<sp:RequireClientEntropy />
						<sp:RequireServerEntropy />
					</wsp:Policy>
				</sp:Trust13>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

</wsdl:definitions>
