src/Coalesce.ExIm.XSD/src/test/resources/test.xsd

<xs:schema attributeFormDefault="qualified"
    elementFormDefault="qualified" jxb:version="2.1"
    targetNamespace="http://datamodel.framework.coalesce.incadencecorp.com/TestEntity"
    version="1.0" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
    xmlns:tns="http://datamodel.framework.coalesce.incadencecorp.com/TestEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element block="substitution" name="UNIT_TEST">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:baseType">
                    <xs:all>
                        <xs:element maxOccurs="1" minOccurs="0" ref="tns:Linkages"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="tns:testsection"/>
                    </xs:all>
                    <xs:attribute fixed="UNIT_TEST" name="name" type="xs:string"/>
                    <xs:attribute fixed="DSS" name="source" type="xs:string"/>
                    <xs:attribute fixed="1.0" name="version" type="xs:string"/>
                    <xs:attribute name="entityid" type="tns:cdsString"/>
                    <xs:attribute name="entityidtype" type="tns:cdsString"/>
                    <xs:attribute name="title" type="tns:cdsString"/>
                    <xs:attribute name="type" type="tns:cdsString"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element block="substitution" name="testsection">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:baseType">
                    <xs:all>
                        <xs:element maxOccurs="1" minOccurs="0" ref="tns:test1"/>
                    </xs:all>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element block="substitution" name="test1">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:baseType">
                    <xs:sequence>
                        <xs:element block="substitution" minOccurs="1" name="test1Record">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="tns:baseType">
                                    <xs:all>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="binary" type="xs:base64Binary"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="boolean" type="xs:boolean"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="date" type="xs:dateTime"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="double" type="xs:double"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="file" type="tns:cdsString"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="float" type="xs:float"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="geolist" type="tns:geocoordinatelist"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="geo" type="tns:geocoordinate"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="guid" type="tns:guid"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="int" type="xs:int"/>
                                    <xs:element
                                    block="substitution"
                                    name="string" type="tns:stringType"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="uri" type="tns:cdsString"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="long" type="xs:long"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="poly" type="tns:polygon"/>
                                    <xs:element
                                    block="substitution"
                                    name="line" type="tns:lineType"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="circle" type="tns:circle"/>
                                    <xs:element
                                    block="substitution"
                                    name="enum" type="tns:enumType"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="enumlist">
                                    <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    maxOccurs="5000"
                                    minOccurs="0"
                                    name="values" type="tns:enumlistType"/>
                                    </xs:sequence>
                                    </xs:complexType>
                                    </xs:element>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0"
                                    name="noflatten" type="tns:cdsString"/>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="doublelist">
                                    <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    maxOccurs="5000"
                                    minOccurs="0"
                                    name="values" type="xs:double"/>
                                    </xs:sequence>
                                    </xs:complexType>
                                    </xs:element>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="intlist">
                                    <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    maxOccurs="5000"
                                    minOccurs="0"
                                    name="values" type="tns:intlistType"/>
                                    </xs:sequence>
                                    </xs:complexType>
                                    </xs:element>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="floatlist">
                                    <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    maxOccurs="5000"
                                    minOccurs="0"
                                    name="values" type="xs:float"/>
                                    </xs:sequence>
                                    </xs:complexType>
                                    </xs:element>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="longlist">
                                    <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    maxOccurs="5000"
                                    minOccurs="0"
                                    name="values" type="xs:long"/>
                                    </xs:sequence>
                                    </xs:complexType>
                                    </xs:element>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="stringlist">
                                    <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    maxOccurs="5000"
                                    minOccurs="0"
                                    name="values" type="tns:cdsString"/>
                                    </xs:sequence>
                                    </xs:complexType>
                                    </xs:element>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="guidlist">
                                    <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    maxOccurs="5000"
                                    minOccurs="0"
                                    name="values" type="tns:guid"/>
                                    </xs:sequence>
                                    </xs:complexType>
                                    </xs:element>
                                    <xs:element
                                    block="substitution"
                                    minOccurs="0" name="booleanlist">
                                    <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    maxOccurs="5000"
                                    minOccurs="0"
                                    name="values" type="xs:boolean"/>
                                    </xs:sequence>
                                    </xs:complexType>
                                    </xs:element>
                                    </xs:all>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="stringType">
        <xs:restriction base="tns:cdsString">
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:pattern value="[ -~]*[!-~]+[ -~]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="lineType">
        <xs:restriction base="tns:linestring">
            <xs:pattern value="[ -~]*[!-~]+[ -~]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="enumType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:pattern value="[ -~]*[!-~]+[ -~]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="enumlistType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="intlistType">
        <xs:restriction base="xs:int">
            <xs:maxExclusive value="10"/>
            <xs:minExclusive value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ECoalesceObjectStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="DELETED"/>
            <xs:enumeration value="READONLY"/>
            <xs:enumeration value="UNKNOWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ELinkTypes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNDEFINED"/>
            <xs:enumeration value="IS_CHILD_OF"/>
            <xs:enumeration value="IS_PARENT_OF"/>
            <xs:enumeration value="CREATED"/>
            <xs:enumeration value="WAS_CREATED_BY"/>
            <xs:enumeration value="HAS_MEMBER"/>
            <xs:enumeration value="IS_A_MEMBER_OF"/>
            <xs:enumeration value="HAS_PARTICIPANT"/>
            <xs:enumeration value="IS_A_PARTICIPANT_OF"/>
            <xs:enumeration value="IS_WATCHING"/>
            <xs:enumeration value="IS_BEING_WATCHED_BY"/>
            <xs:enumeration value="IS_A_PEER_OF"/>
            <xs:enumeration value="IS_OWNED_BY"/>
            <xs:enumeration value="HAS_OWNERSHIP_OF"/>
            <xs:enumeration value="IS_USED_BY"/>
            <xs:enumeration value="HAS_USE_OF"/>
            <xs:enumeration value="SUCCESSOR"/>
            <xs:enumeration value="PREDECESSOR"/>
            <xs:enumeration value="CROSS_DOMAIN_SOURCE"/>
            <xs:enumeration value="CROSS_DOMAIN_TARGET"/>
            <xs:enumeration value="IS_INPUT_PARAMETER_TO"/>
            <xs:enumeration value="HAS_INPUT_PARAMETER_OF"/>
            <xs:enumeration value="IS_INPUT_TO"/>
            <xs:enumeration value="HAS_INPUT_OF"/>
            <xs:enumeration value="IS_OUTPUT_TO"/>
            <xs:enumeration value="HAS_OUTPUT_OF"/>
            <xs:enumeration value="IS_PRODUCT_OF"/>
            <xs:enumeration value="HAS_PRODUCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="baseType">
        <xs:attribute name="key" type="tns:guid" use="required"/>
        <xs:attribute name="datecreated" type="xs:dateTime"/>
        <xs:attribute name="lastmodified" type="xs:dateTime"/>
        <xs:attribute default="ACTIVE" name="status" type="tns:ECoalesceObjectStatus"/>
    </xs:complexType>
    <xs:simpleType name="cdsString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="guid">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="geocoordinate">
        <xs:restriction base="xs:string">
            <xs:pattern value="POINT \(?([0-9]*\.)?[0-9]+ ([0-9]*\.)?[0-9]+ (([0-9]*\.)?[0-9]+)?\)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="geocoordinatelist">
        <xs:restriction base="xs:string">
            <xs:pattern value="MULTIPOINT \((\(?([0-9]*\.)?[0-9]+ ([0-9]*\.)?[0-9]+ (([0-9]*\.)?[0-9]+)?\)?(, )?){0,20}\)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="polygon">
        <xs:restriction base="xs:string">
            <xs:pattern value="POLYGON \((\(?([0-9]*\.)?[0-9]+ ([0-9]*\.)?[0-9]+ (([0-9]*\.)?[0-9]+)?\)?(, )?){0,20}\)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="linestring">
        <xs:restriction base="xs:string">
            <xs:pattern value="LINESTRING \((\(?([0-9]*\.)?[0-9]+ ([0-9]*\.)?[0-9]+ (([0-9]*\.)?[0-9]+)?\)?(, )?){0,20}\)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="circle">
        <xs:sequence>
            <xs:element name="center" type="tns:geocoordinate"/>
            <xs:element name="radius" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element block="substitution" name="Linkages">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:baseType">
                    <xs:sequence>
                        <xs:element block="substitution"
                            maxOccurs="5000" minOccurs="0" name="Linkage">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="tns:baseType">
                                    <xs:all>
                                    <xs:element
                                    name="entity1key" type="tns:guid"/>
                                    <xs:element minOccurs="0"
                                    name="entity1name" type="tns:cdsString"/>
                                    <xs:element minOccurs="0"
                                    name="entity1source" type="tns:cdsString"/>
                                    <xs:element minOccurs="0"
                                    name="entity1version" type="tns:cdsString"/>
                                    <xs:element name="linktype" type="tns:ELinkTypes"/>
                                    <xs:element
                                    name="entity2key" type="tns:guid"/>
                                    <xs:element minOccurs="0"
                                    name="entity2name" type="tns:cdsString"/>
                                    <xs:element minOccurs="0"
                                    name="entity2source" type="tns:cdsString"/>
                                    <xs:element minOccurs="0"
                                    name="entity2version" type="tns:cdsString"/>
                                    <xs:element
                                    name="entity2objectversion" type="xs:int"/>
                                    <xs:element minOccurs="0"
                                    name="classificationmarking" type="tns:cdsString"/>
                                    <xs:element minOccurs="0"
                                    name="label" type="tns:cdsString"/>
                                    </xs:all>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
